

<%= form_for [@recommendation, @comment] do |f| %>
<% if @comment.errors.any? %>
  <div id="error_explanation" class="error_message">
    <p>The comment failed to save.  The comment cannot be blank.</p>
  </div>
<% end %>

  <%= f.text_field(:'text', :placeholder => "do you have thoughts...?", class: "form-control") %><br>

  <%= f.submit "Submit Comment", {class: "btn btn-primary"} %>
<% end %>
