<h2><b><%= @user.name.upcase %>'s</b> Comments</h2><br>

<% if @user.comments %>
  <% @user.comments.each do |comment| %>
    <div class="comments">

      <p><%= link_to comment.recommendation.title, recommendation_path(comment.recommendation) %> -
      <%= render partial: 'comment', locals: {comment: comment} %></p>
    </div>
  <% end %>
<% end %>
