<div class="recommendation">
  <li><%= link_to recommendation.title, recommendation_path(recommendation) %> recommended by <%= link_to recommendation.user.name, user_path(recommendation.user) %></li>
</div>
